@import "../variables";

.sort {
  position: relative;

  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      user-select: none;
      white-space: nowrap;
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}

.sort__popup {
  top: 30px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.sort__popup.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.sort__popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort__popup li {
  padding: 10px;
  cursor: pointer;
}

.sort__popup li.active {
  font-weight: bold;
}
