.root {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;

  h1 {
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    white-space: nowrap;
    

    @media (max-width: 590px) {
      font-size: 33px;
    }

    img {
      margin-right: 5px;
      width: 40px;
    }
  }

  

  .cartImg {
    width: 100%;
    margin-bottom: 15px;
  }

  .cartBtn {
    cursor: pointer;
    font-size: 20px;
    border: none;
    color: white;
    padding: 0 50px;
    height: 60px;
    border-radius: 30px;
    background: rgb(40, 40, 40);
    transition: all 0.2s ease;

    &:hover {
      background: rgb(58, 58, 58);
    }

    &:active {
      background: rgb(48, 48, 48);
      transform: scale(0.95);
    }
  }
}
