.root {
  text-align: center;
  padding: 100px;

  .paymentText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    white-space: nowrap;

    @media (max-width: 590px) {
      font-size: 40px;
    }

    img {
      margin-right: 5px;
      width: 40px;
    }
  }

  .cartImg {
    width: 400px;
    margin-bottom: 15px;
  }

  .cartBtn {
    cursor: pointer;
    font-size: 20px;
    border: none;
    color: white;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background: rgb(40, 40, 40);
    transition: all 0.2s ease;

    &:hover {
      background: rgb(58, 58, 58);
    }

    &:active {
      background: rgb(48, 48, 48);
      transform: scale(0.95);
    }
  }
}
