.root {
  position: relative;
  left: -120px;

  @media (max-width: 1200px) {
    display: none;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 15px;
  padding-left: 42px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
}

.searchIcon {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  left: 14px;
  top: 12px;
}

.clearIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 14px;
  transition: all 0.2s ease;

  &:hover {
    opacity: 1;
  }
}
